<!DOCTYPE html>
<html lang="en">
 <style type="text/css">
                 tr > td:first-child { font-size: 18px;font-weight: bold;} /* first column */
                 tr > td:first-child + td { font-size: 20px;} /* second column */
                 tr>td {
                   padding-bottom: 0.5em;
                 }

                table {
                   border-spacing: 5px 12px;
                   padding: 0 8px 8px 0;
                 }
</style>
<head>
<meta charset="UTF-8">
<title>Feedback Report</title>
</head>
#TABLE#
<body>
</body>
</html>